<div id="intro">
	<h2>Before you get started</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
			aute irure dolor in reprehenderit in voluptate velit esse cillum 
			dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident, sunt in culpa qui officia deserunt mollit anim id est 
			laborum.
		</p>
</div>
<div id="stage-1">
	<h3>Stage 1: Getting familiar with <%= @lesson.subject %></h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		<div class="stageunits">
			<ul>
				<% @stage1.each do |stage| %>
				<li><%= stage.title %></li>
				<% end %>
				<li><%= image_tag("tryruby.png") %></li>
				<li><%= image_tag("tryruby.png") %></li>
				<li><%= image_tag("tryruby.png") %></li>
			</ul>
		</div>
</div>
<div id="stage-2">
	<h3>Stage 2: Getting familiar with Ruby</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		<div class="stageunits">
			<ul>
				<li><%= image_tag("tryruby.png") %></li>
				<li><%= image_tag("tryruby.png") %></li>
				<li><%= image_tag("tryruby.png") %></li>
				<li><%= image_tag("tryruby.png") %></li>
			</ul>
		</div>
</div>
<div id="stage-3">
	<h3>Stage 3: Getting familiar with Ruby</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		<div class="stageunits">
			<ul>
				<li><%= image_tag("tryruby.png") %></li>
				<li><%= image_tag("tryruby.png") %></li>
				<li><%= image_tag("tryruby.png") %></li>
				<li><%= image_tag("tryruby.png") %></li>
			</ul>
		</div>
</div>

